/*a:hover { 
	text-transform: uppercase;
	font-weight:bold;
	color:blue;
	background-color:yellow; 
	background-image: url("/media/MultimediaData/CARTELES/CINE (61).jpg");
} 

.hero-unit {
  padding: 60px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  background-image: url("/media/MultimediaData/CARTELES/CINE (87).jpg");
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}*/

    a {
      position: relative;
    }
     
    img {
      position: absolute;
      top: 100%;
      left: 100%;
      display: none;
    }
     
    a:hover img {
      display: block;
    }